<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script
  		src="https://code.jquery.com/jquery-2.2.4.min.js"
  		integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
  		crossorigin="anonymous"></script>
    <!--<script src="http://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>-->
    <script src="/javascript/script.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300:300,400" rel="stylesheet">
    <script src="http://momentjs.com/downloads/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.0/locale/de.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body>
    <div class="header">
        <h1><%= title %><a>/<%= mode %></a></h1>
        <div id="menu">
            <a href="/"><i class="fa fa-clock-o fa-3x" aria-hidden="true"></i></a> <a href="/replied"><i class="fa fa-commenting-o fa-3x" aria-hidden="true"></i></a> <a href="/voted"><i class="fa fa-chevron-up fa-3x" aria-hidden="true"></i></a> 
        </div>   
    </div>
    <div id="list" class="container list">
    	<!-- Insert Jodels -->
    </div>
    <div id="details" class="list"></div>
    <div class="footer">
        <a href="https://github.com/kanonenfutter/njodel">Github-Repo</a>
        <%= title %> ist ein einfacher* Jodelclient.
        *sprich: Er zeigt die neusten, meist kommentiertesten oder populärsten Jodel in Köln. Je nach dem, worauf der Entwickler gerade Lust hat.

    </div>
    <script type="text/javascript">

    var next = null;
    var post_id = "";
    var first_post_id = null;
    $(document).ready(function () {
    	var url = "/recent";
        $("#details").hide();
        $.getJSON(url)
            .done(function (data) {
                console.log(data);
                // recent only code:
                first_post_id = data.recent[0].post_id;
                console.log(first_post_id);
                // end
                $.each( data.<%= mode %>, function (i, item) {
                    var age = moment(item.created_at).fromNow();

                    if (item.image_url == null) {
                    $("#list").append('<div class="jodel" style="background-color: #' + 
                        item.color + ';"> <div class="msg">' +  
                        item.message + '</div><div class="karma"> <p class="vote_count">'+
                        item.vote_count+'</p><br> <a class="res" id="'+
                        item.post_id+'" href="#">Zu den ' + item.child_count +  ' Antworten</a>' + ' ' + 
                        age +'</div></div>');
                    } else {
                        $("#list").append('<div class="jodel" style="background-color: #' + 
                            item.color + ';"><img src="http:'+ 
                            item.image_url +'" alt="image" class="jimage"><div class="karma"> <p class="vote_count">'+
                            item.vote_count+'</p><br> <a class="res" id="'+
                            item.post_id+'" href="#">Zu den ' + item.child_count +  ' Antworten</a>' + ' ' + 
                            age +'</div></div>');
                    }
                });
            })
            .fail(function () {
                console.log("error");
            })
            .always(function () {
                console.log("complete");
            });


        $(window).scroll(function () {
            if (next != null) {
                if ($(window).scrollTop() >= $(document).height() - $(window).height()-1) {
                    var url = '/posts/' + post_id + '/' + next;
                    getJodel(url, "#details");
                    console.log("done loading more replys");
                }
            }

        });


        
    });
    $("div").on('click','a.res', function (){
        post_id = this.id;
        var url = "/posts/" + post_id;
        $("#list").hide("slide");
        getJodel(url, "#details");
        $("#details").show("slide");
    });
    </script>
  </body>
</html>
